body {
    background-color: #D5DBDB;
    font-family: "Nerko one", 'Times New Roman', Times, serif;
    margin: 0px;
    font-size: 1.5vw;
}

.image-container {
    position: relative;
    width: 100vw;
    height: auto;
}

.image-container img {
    height: 100vh;
    width: 100vw;
}

#centred-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-size: clamp(0.5rem, 2.5vw, 1rem);
}

h1 {
    font-family: "Baskervville SC", Helvetica, sans-serif, Arial;
}

#nav-ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin: 15px;
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: black;
    background-color: #D5DBDB;
    text-decoration: none;
    padding: 12px;
    border: 1px solid black;
    border-radius: 30%;
}

main {
    width: 80%;
    margin: auto;
    font-family: "Playpen sans";
}

main img {
    width: 20vw;
    height: auto;
}

/* styles  for main.html */

#logo {
    margin: 3px;
    padding: 8px;
    font-family:"Baskervville SC", sans-serif;
    height: 8vh;
    font-size: clamp(1rem, 3vw, 2rem);
}

#page-header {
    background-color: #6A8097;
    display: flex;
    height: 15vh;
    justify-content: space-between;
}

#page-ul {
    display: flex;
    list-style: none;
}

#page-ul > li {
    padding: 5px;
    margin: 5px;
}

.footer-container {
    background-color: #6A8097;
    text-align: center;
    align-content: center;
}

.footer-container > h2 {
    font-family: "Baskervville SC", Helvetica, sans-serif, Arial;
}

#footer-ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

#footer-ul > div > li {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: black;
}

.container {
    display: grid;
    grid-template-areas: 
        "about aboutimg";
    grid-template-columns: 9fr 1fr;
    align-items: center;
}

.about {
    font-size: clamp(0.5rem, 1.5vw, 1.5rem);
    grid-area: about;
    padding: 10px;
}

.about-img {
    grid-area: aboutimg;
    padding: 10px;
}

/* blog.html only */
footer > h3 {
    display: flex;
    justify-content: center;
}